<nav>
    <a href="https://webpages.charlotte.edu/ichanthi" target="_blank">CLT Web</a> |
    <a href="https://github.com/inthila" target="_blank">GitHub</a> |
    <a href="https://inthila.github.io/itis3135/">GitHub.io</a> |
    <a href="https://www.freecodecamp.org/inthila-chanthirat" target="_blank">FreeCodeCamp</a> |
    <a href="https://www.codecademy.com/profiles/ichanthi" target="_blank">Codecademy</a> |
    <a href="http://www.linkedin.com/in/inthila-chanthirat" target="_blank">LinkedIn</a> 
  </nav>
  <p>Designed by <a href="chanthiratcreatives.co/index.html" target="_blank">Chanthirat Creatives</a> &copy; 2025</p>
  <p>
    <a href="https://validator.w3.org/check?uri=referer" target="_blank">HTML Validation</a> |
    <a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank">CSS Validation</a>
  </p>   