<h1>Inthila Chanthirat's Interesting Capybara | ITIS3135</h1>
    <nav class="primary">
        <a href="index.html">Home</a> | 
        <a href="introduction.html">Introduction</a> | 
        <a href="contract.html">Contract</a> |
        <a href="website_evaluations.html">Website Evaluations</a> |
        <a href="fccfsjs_outline.html">FCC JS Timeline</a> |
        <a href="intro_form.html">Intro Form</a> |
        <a href="project_overview.html">Client Project</a>
    </nav>
    <nav class="secondary">
        <a href="mascotcompany/index.html">Interesting Capybara</a> |
        <a href="projects/stuff/WEB%20page%20%3A%29.htm">CrApPy Page</a> |
        <a href="hobby/index.html">Hobby</a> | 
        <a href="projects/index.html">Sophie's Cakeshop</a> 
    </nav>